fastapi
uvicorn[standard]
python-dotenv
langgraph
langchain
langchain_groq
langchain-openai
langchain-community
google-search-results
ctranslate2
transformers
torch
MeloTTS
faster-whisper
soundfile
python-multipart
aiofiles
aioboto3
pdf2image
Pillow
httpx
confluent-kafka
requests
chromadb
sentence-transformers